<div id='select-months'>
  <label>Select which months to include in the schedule</label>
  <PowerSelectMultiple
    @searchEnabled={{true}}
    @options={{this.monthOptions}}
    @selected={{this.months}}
    @placeholder="Select some months..."
    @onChange={{fn (mut this.months)}} as |month|>
    {{month.name}}
  </PowerSelectMultiple>
</div>


<button  {{on "click" (fn this.showSchedule)}}>Show Schedule</button>
